* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --w-100: 100%;
    --white: #fff;
    --black: #000;
    --headline-bg-color: #ecf4f3;
    --theme-green: #38a296;
    --btn-color: #2a9d8f;
    --light-grey: #a5a5a5;
}

.flex {
    display: flex;
    &.center {
        justify-content: center;
        align-items: center;
    }
    &.column {
        flex-direction: column;
    }
    &.wrap {
        flex-wrap: wrap;
    }
    &.vrtlCenter {
        align-items: center;
    }
    &.hrtlCenter {
        justify-content: center;
    }
    &.space-btw {
        justify-content: space-between;
    }
    &.space-evenly {
        justify-content: space-evenly;
    }
    &.end {
        justify-content: flex-end;
    }
    &.start {
        justify-content: flex-start;
    }
}

.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}