<!-- views/articles/show.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= article.title %></title>
  </head>
  <body>
    <h1><%= article.title %></h1>
    <p><%= article.content %></p>
    <a href="/articles">Back to Articles</a>
  </body>
</html>
