.main-header-parent {
  padding: 10px 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  // background-color: rgba(#ffc0cb, 0.8);
  padding: 10px 5%;
  color: var(--white);
  z-index: 100; // kind of brought the header top of hero section
  .header-parent {
    height: 80px;
    .menu-items > li {
      margin: 0 10%;
      text-transform: uppercase;
    }
  }
  @media screen and (max-width: 712px) {
    position: relative;
    background-color: black;
    height: 100%;
    .header-parent {
      flex-direction: column;
      height: 100%;
      gap: 10px;
      .menu-items {
        flex-direction: column;        
        & > li {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 15px 0;
        }
      }
    }
  }
}
