.testimonials-cell {
    background-color: var(--white);
    padding: 20px;
    .quote-img {
        width: 30px;
        fill: teal;
        color: var(--theme-green);
        border-color: var(--theme-green);
    }
    p {
        color: grey;
    }
}
