body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #74ebd5, #9face6);
    font-family: 'Arial', sans-serif;
    color: #333;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #fff;
    text-align: center;
  }
  
  form {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
  }
  
  button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  a {
    display: block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
    text-align: center;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .profile-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .profile-container h1 {
    margin-bottom: 20px;
    color: grey;
  }
  
  .profile-container p {
    margin-bottom: 20px;
    font-size: 1rem;
  }
  
  .profile-container a {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
  }
  
  .profile-container a:hover {
    text-decoration: underline;
  }
  

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #74ebd5, #9face6);
    color: #333;
  }
  
  header {
    width: 100%;
    background-color: #333;
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    margin: 0 15px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    text-align: center;
    margin-top: 50px;
  }
  
  main h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #333;
  }
  
  main p {
    font-size: 1.2rem;
    color: #666;
  }
  